{% extends 'layout.html' %}
{% block title %} Homepage {% endblock title %}
{% block link_styles %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock link_styles %}

{% block content %}

<div class="bg-light p-5 rounded">
    <div class="col-sm-8 mx-auto">
        <h1 class="text-secondary"> Welcome to SuaveTech world</h1>
        <p>I am very happy to welcome you to my blog.</p>
        <p>This blog is a project which i have built for my AltSchool exam.</p>
        <p>
            <a class="btn btn-danger" href="{{ url_for('postsViews') }}" role="button">View Blogs &raquo;</a>
        </p>

    </div>

</div>

{% endblock content %}